/* @page {
  size:8.5in 11in;
  margin: 2cm
} */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
  /* max-width: 8.5in; */
  /* max-height: 11in; */
}

h1, h2 {
  font-family: 'Scope One', serif;
}

h1 {
    text-align: center;
}

a.header-link {
  color: white;
  text-decoration: none;
}

/* Header */

#name {
  width: 30%;
}

.header-container {
  display: flex;
  flex-flow: column;
  color: white;
  background-color: black;
}

.header-content-media {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.social-container {
  display: flex;
  flex-flow: column;
}

address {
  width: 50%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

/* Content */

.content-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.left-container-content, .right-container-content {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-flow: column;
}

/* Work History */

.work-history-item {
  width: 100%;
}

.title-dates-item {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.wh-title {
  font-weight: bold;
}

/* Skills */

.skills-container {
  display: flex;
  flex-flow: column;
}

.skill-category {
  font-weight: bold;
}

/* .pill-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: space-between;
}

.pill {
  background-color: gold;
  color: white;
  font-weight: bold;
  padding: 8px;
  margin: 5px;
  text-align: center;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  min-width: 20px;
} */
